<div class="vehicle-list">
  <h2>Vehicle List</h2>
  <ul>
    <li *ngFor="let vehicle of vehicles">
      <span>{{ vehicle.registrationNumber }}</span>
      <button (click)="fetchAvailableDevices(vehicle.vehicleId)">Assign</button>
      <button (click)="fetchPairedDevices(vehicle.vehicleId)">Deassign</button>
    </li>
  </ul>
</div>

<!-- Modal for assigning a device -->
<div *ngIf="availableDevices.length > 0" class="modal">
  <h3>Select a device to assign</h3>
  <ul>
    <li *ngFor="let device of availableDevices">
      <span>{{ device.name }}</span>
      <button (click)="assignDevice(device.deviceUId)">Assign</button>
    </li>
  </ul>
</div>

<!-- Modal for deassigning a device -->
<div *ngIf="pairedDevices.length > 0" class="modal">
  <h3>Select a device to deassign</h3>
  <ul>
    <li *ngFor="let device of pairedDevices">
      <span>{{ device.name }}</span>
      <button (click)="deassignDevice(device.deviceUId)">Deassign</button>
    </li>
  </ul>
</div>
<app-vehicle></app-vehicle>
<app-device></app-device>
<h2>Vehicle Tracking</h2>
<div>
  <label for="vehicleDropdown">Select a vehicle:</label>
  <select id="vehicleDropdown" (change)="onVehicleSelect($event)">
    <option value="" disabled selected>Select a vehicle</option>
    <option *ngFor="let vehicle of vehicles" [value]="vehicle.vehicleId">
      {{ vehicle.registrationNumber }}
    </option>
  </select>  
</div>

<div *ngIf="trackingVehicleId">
  <app-vehicle-map [vehicleId]="trackingVehicleId"></app-vehicle-map>
</div>
