<div class="device-container">
    <button (click)="showAddDeviceForm()" class="add-device-btn">Add device</button>
  
    <!-- Overlay Form -->
    <div class="overlay" *ngIf="isAddDeviceFormVisible">
      <div class="overlay-content">
        <h2>Add device</h2>
        <form [formGroup]="deviceForm" (ngSubmit)="onSubmit()">
          <div>
            <label for="deviceId">DeviceId</label>
            <input id="deviceId" formControlName="deviceId" type="text" />
            <div *ngIf="deviceForm.get('deviceId')?.hasError('whitespace') && deviceForm.get('deviceId')?.touched">
              Device ID cannot contain only whitespace or start/end with whitespace.
            </div>
          </div>
          <div>
            <label for="properties">Properties</label>
            <textarea id="properties" formControlName="properties"></textarea>
            <div *ngIf="deviceForm.get('properties')?.hasError('invalidJson') && deviceForm.get('properties')?.touched">
              <small class="error">Invalid JSON format</small>
            </div>
          </div>
          <div>
            <label for="name">Name</label>
            <input id="name" formControlName="name" type="text" />
          </div>
          <div>
            <label for="deviceType">device Type</label>
            <select id="deviceType" formControlName="deviceType">
              <option *ngFor="let type of deviceTypes" [value]="type.id">{{ type.value }}</option>
            </select>
          </div>
          <button type="submit" [disabled]="deviceForm.invalid">Save</button>
          <button type="button" (click)="hideAddDeviceForm()">Cancel</button>
        </form>
      </div>
      <!-- Device List -->
    </div>
  </div>
  <div class="device-list">
    <h3>Available Devices</h3>
    <ul>
    <li *ngFor="let device of devices">
      <strong>{{ device.name }}</strong> - 
      Properties: {{ device.properties}} ,
      (Type: {{getDeviceType(device.deviceType)}} {{ device.deviceType }})
      <button (click)="editDevice(device.id)">Edit</button>
      <button (click)="deleteDevice(device.id)">Delete</button>
    </li>
  </ul>
</div>