.app-container { 
    display: flex; 
    height: 100vh; 
  }
  
  .sidebar { 
    width: 300px; 
    padding: 1rem; 
    overflow-y: auto; 
  }
  
  .main-content { 
    flex: 1; 
  }

  :host { 
    display: block; 
    height: 100%; 
  }